1.Listas: Son estructuras de almacenamiento de crecimiento dinámico, mutables(se puede modificar el contenido), es decir cuando lo creamos no indicamos su tamaño maximo y ademas podemos ir agregando. se puede hacer la operaciones: Las operaciones que se pueden realizar sobre una lista son:
Definición y creación
Acceso a sus valores
Principales funciones
Programación funcional
List Comprehensions
Uniendo Listas


Una lista se define entre corchetes que contiene diferentes datos 
[ valores, cadenas, numericos, booleanos, etc]

Accedemos a los elementos de la lista mediante [] 

2. Tuplas
3. Conjuntos
4. Diccionarios

In [2]:
li = [2,3,4,5]

In [3]:
li

[2, 3, 4, 5]

In [5]:
print (li[0])
print (li[1])
print (li[2])

2
3
4

In [7]:
li = ["a", "b", "mpilgrim", "z", "example"]
my_list = [1, 2, 3]
my_list = [1, "Hello", 3.4]

In [8]:
li = ["a", "b", "mpilgrim", "z", "example"]
print(li[0])
print(li[4])
print(li[1])

a
example
b

APPEND
El método append() añade un elemento al final de la lista

In [9]:
li = ["a", "b", "mpilgrim", "z", "example"]
li.append("new")
print(li)

['a', 'b', 'mpilgrim', 'z', 'example', 'new']

INSERT
El método insert() inserta un elemento en la posición que se indique

In [14]:
li = ["a", "b", "mpilgrim", "z", "example"]
li.insert(2,"two")
print(li)

['a', 'b', 'two', 'mpilgrim', 'z', 'example']

EXTEND
El método extend() concatena los elementos de dos listas

In [22]:
li2 = [1,2,3,4]
li.append(li2)
li

['a',
 'b',
 'two',
 'mpilgrim',
 'z',
 'example',
 [...],
 [...],
 [...],
 [...],
 [1, 2, 3, 4]]

OPERADOR MAS +
El operador + es similar a  extend()

In [1]:
a_list = ['a']
a_list = a_list + [2.0, 3]
print(a_list)

['a', 2.0, 3]

In [2]:
#OTRO EJEMPLO DE APPEND
a_list = ['a', 'b', 'c', 'd', 'e', 'f']
a_list.append(['g', 'h', 'i'])
print(a_list)

['a', 'b', 'c', 'd', 'e', 'f', ['g', 'h', 'i']]

BUSCAR ELEMENTOS 
Para buscar elementos en una lista usamos los métodos index(), count() y el operador in.

INDEX
El método  index() devuelve la posición del elemento si no lo encuentra devuelve un error

In [1]:
li = ['a', 'b', 'new', 'mpilgrim', 'z', 'example', 'new', 'two', 'elements']
print(li.index('example'))
print(li.index('elements'))

5
8

COUNT
El método count()  devuelve el número de ocurrencias de un elemento
muestra El numero de veces que aparece un elemento dentro de la lista

In [6]:
li = ['a', 'b', 'new', 'mpilgrim', 'new']
print(a_list.count('new'))

0

IN: samos el operador in para saber si un elemento está en una lista
permite moestrar si existe o no existe el elemento dentro de la lista

In [8]:
li = ['a', 'b', 'new', 'mpilgrim', 'new']

if 'a' in li :
	print('Está en la lista')
else:
	print('No está en la lista')

Está en la lista

BORRAR ELEMENTOS
Para borrar elementos podemos usar los métodos remove(), pop() y la sentencia del

1. REMOVE
remove() busca y borra la primera aparición del elemento es decir el primero que aparece dentro del la lista, y en caso que no existe muestra un error

In [16]:
li = ['a', 'b', 'new', 'mpilgrim', 'z', 'example', 'new', 'two', 'elements']
li
li.remove('z')
print(li)
#borrando a prmer new
li.remove('new')
print(li)

['a', 'b', 'new', 'mpilgrim', 'example', 'new', 'two', 'elements']
['a', 'b', 'mpilgrim', 'example', 'new', 'two', 'elements']

2. DEL
La sentencia del borra la posición de la lista que se indique:
ejm: se le indico volar el indice [1]=b

In [18]:
li = ['a', 'b', 'new', 'mpilgrim', 'new']
print(li[1])
del li[1]
print(li)

b
['a', 'new', 'mpilgrim', 'new']

3. POP
pop()  borra y devuelve el último elemento de la lista:
Borra el indice que sea indicado y imprime el valor
si no se indico nada muestra el ultimo valor

In [27]:
li = [1, 2, 3, 4, 5, 6, 7, 8]
print(li)

[1, 2, 3, 4, 5, 6, 7, 8]

In [28]:
print(li.pop(2))

3

In [29]:
print(li)

[1, 2, 4, 5, 6, 7, 8]

In [30]:
print(li.pop())

8

In [31]:
li.pop.__doc__

'Remove and return item at index (default last).\n\nRaises IndexError if list is empty or index is out of range.'

ORDENAR ELEMENTOS DE LA LISTA

SORT()
Podemos usar el método sort() para ordenar los elementos de una llista:

In [33]:
a = [3, 7, 8, 1, 100, 4]
print(a)

[3, 7, 8, 1, 100, 4]

In [34]:
a.sort()
print(a)

[1, 3, 4, 7, 8, 100]

In [38]:
b = [2, 4, 16, 6, 8, 10]
print(b)

[2, 4, 16, 6, 8, 10]

SORTED

La función sorted() se puede usar para cualquier estructura iterativo

In [39]:
c=sorted(b)
print(c)

[2, 4, 6, 8, 10, 16]

PROGRAMACION FUNCIONAL
Existen otras funciones muy útiles cuando trabajamos con listas:

 filter (FILTRAR)
Devuelve los elementos de una lista que hacen cierta una función
map
Aplica a todos los elementos de una lista un valor
reduce
Devuelve el resultado de aplicar una función a todos los elementos

FILTER
a función filter(function, sequence) devuelve la secuencia formada por aquellos items de la secuencia original para los que la función function(item) es True.

FILTER: filtra elementos de una lista en base a una funcion que muestra una funcion que devulve un valor logico

In [41]:
lista = range(2,30)
print(lista)

range(2, 30)

In [42]:
#PRIMERA FORMA
def divisible(x):
    return x % 3 == 0 or x %5 == 0
nueva_lista = []
for elemento in lista:
    if divisible(elemento) == True:
        nueva_lista.append(elemento)
print(nueva_lista)

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27]

In [46]:
#SEGUNDA FORMA
b = filter(divisible, lista)
print(b)

<filter object at 0x00000150B1797730>

In [47]:
print(list(b))

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27]

In [60]:
#TERCERA FORMA
c = filter(lambda x : x %3 == 0 or x %5 == 0 ,lista)
print(c)

<filter object at 0x00000150B0C95A90>

In [61]:
print(list(c))

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27]

MAPEO
* elevar al cubo los elementos de la lista
La función map(function, sequence) invoca a la función function(item) para cada uno de los elementos de la secuencia y devuelve la lista resultante tras su aplicación:

In [77]:
def mi_cubo(x):
    return x*x*x
print(list(lista))
nueva_lista = []

for elemento in lista:
    print(elemento)
    a = mi_cubo(elemento)
    print(a)
    nueva_lista.append(a)
print(nueva_lista)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
2
8
3
27
4
64
5
125
6
216
7
343
8
512
9
729
10
1000
11
1331
12
1728
13
2197
14
2744
15
3375
16
4096
17
4913
18
5832
19
6859
20
8000
21
9261
22
10648
23
12167
24
13824
25
15625
26
17576
27
19683
28
21952
29
24389
[8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389]

In [76]:
print(list(map(lambda x : x*x*x, list(filter(lambda x : x %3 == 0 or x %5 == 0 ,lista)))))

[27, 125, 216, 729, 1000, 1728, 3375, 5832, 8000, 9261, 13824, 15625, 19683]

REDUCCION:

calcular la suma o resta de reduccion convertiendo a un unico valor
a función reduce(function, sequence)  devuelve un único valor tras aplicar la función binaria function a los dos primeros elementos de la secuencia.
El resultado se usará para volver a invocar a function junto al tercer elemento y así consecutivamente.

In [78]:
import functools #la funcion reduce se encuentran en esta clase
def mult(x,y):
    print("x=",x," y=",y)
    return x*y

fact=functools.reduce(mult, range(1, 4))
print ('Factorial of 3: ', fact)

x= 1  y= 2
x= 2  y= 3
Factorial of 3:  6

REDUCE
La función reduce(function, sequence)  admite un tercer argumento, el valor inicial de la reducción:
** con la funcion reduce se calcula la suma, la resta, la multi, etc

In [80]:
import functools

def add(x,y): return x+y

sum=functools.reduce(add, range(1, 4))
print ('‘La suma es’', sum)
sum=functools.reduce(add, range(1, 4),3) #3+1,3+3,+3
print ('‘La suma es’', sum)

‘La suma es’ 6
‘La suma es’ 9

In [82]:
import functools
def mult(x, y):
    print(x)
    print(y)
    return x*y

functools.reduce(mult,range(1,4))

1
2
2
3

6

LISTA DE COMPREENSION
Es una manera concisa de crear listas
Iteramos sobre los elementos de la lista y les aplicamos una función

In [ ]:
squares = []
for x in range(10):
squares.append(x**2)
print(squares)

In [ ]:
#hace lo mismo pero mas simplificado
squares = [x**2 for x in range(10)]

LISTA DE COMPRESSION II
Una list comprehension consiste en poner entre [] la expresión seguida por un for y una o más cláusulas

In [83]:
combs = [(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]
[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
print (combs)

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [87]:
#Es lo mismo decir
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))
print (combs)

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

LISTA DE COMPRESSION III

In [88]:
#Multiplica por dos los elementos de la lista
vec = [-4, -2, 0, 2, 4]
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [89]:
#Excluye los elementos negativos
vec = [-4, -2, 0, 2, 4]
[x for x in vec if x >= 0] #mayores que 0

[0, 2, 4]

In [90]:
#Aplica una función
vec = [-4, -2, 0, 2, 4]
[abs(x) for x in vec] #valor absoluto

[4, 2, 0, 2, 4]

UNIR LOS ELEMENTOS DE LA LISTAS CON JOIN
Podemos unir los elementos de una lista para obtener una cadena usando join:

In [92]:
params = {"server":"mpilgrim", "database":"master", "uid":"sa", "pwd":"secret"}
["%s=%s" % (k, v) for k, v in params.items()]
['server=mpilgrim', 'uid=sa', 'database=master', 'pwd=secret']
";".join(["%s=%s" % (k, v) for k, v in params.items()])
'server=mpilgrim; uid=sa; database=master; pwd=secret'

'server=mpilgrim; uid=sa; database=master; pwd=secret'

# TUPLAS
Son listas inmutables, unas vez creadas sus valores no se pueden modificar:
¿Por qué usarlas?
- Son más rápidas que las listas
- Código protegido contra escrituras no deseadas
- Podemos usar las tuplas (de cadenas, números,...) como tipo válido para claves de los diccionarios
- Suelen almacenar valores de distintos tipos

Las operaciones que se pueden realizar sobre una tupla son:
- Creación y definición
- Accediendo a sus posiciones
- Conversiones

Creación y definición
Se definen encerrando sus valores entre () y separados , :

In [94]:
tupla = ("mesa", "silla", "carpeta")
lista = ["perro", "gato", "cerdo"]
print(type(tupla))
print(type(lista))

<class 'tuple'>
<class 'list'>

In [95]:
print(tupla[0])
print(lista[0])

mesa
perro

In [97]:
print(tupla)

('mesa', 'silla', 'carpeta')

In [98]:
(x,y,z) = tupla  #asignamos el valor x=mesa, y=silla, carpeta=z
print(x)
print(y)
print(z)

mesa
silla
carpeta

In [103]:
#UNIR TUPLAS
otra_tupla = ("hoy", "ayer", "mañana")
u = tupla,otra_tupla
print(u)

(('mesa', 'silla', 'carpeta'), ('hoy', 'ayer', 'mañana'))

In [ ]:
#NO PERMITE MODIFICAR
tupla[0] = "despues"

In [106]:
tupla_unica=(4)
type(tupla_unica)

int

In [111]:
tupla_unica = 4, #agregamos valor y , para que sea TUPLA
type(tupla_unica)

#el acceso a posiciones es igual al acceso a listas

tuple

# CONJUNTOS { valores }

NOTA: para tener orden en listas usamos TUPLA () o LISTAS []
Los conjuntos (set) son "bolsas" desordenadas de elementos únicos de cualquier tipo de dato inmutable.

CREACION Y DEFINICION

In [113]:
conjunto = {'uno', 'dos', 'tres'}
type(conjunto)
#SET hace referencia que es un conjunto

set

In [114]:
#conjunto vacio
conjunto2 = set()
type(conjunto2)

set

In [118]:
#creando conjunto desde una lista
conjunto2 = set(['uno', 'dos', 'tres'])
type(conjunto2)
print(type(conjunto2), conjunto2)

<class 'set'> {'uno', 'dos', 'tres'}

AÑADIR ELEMENTOS A CONJUNTOS
Podemos usar el método .add() para añadir nuevos elementos a un conjunto:

In [119]:
conjunto2.add('cuatro') #AGREGAMOS VALORES AL CONJUNTO - ADD
print(conjunto2)

{'uno', 'dos', 'tres', 'cuatro'}

In [120]:
conjunto2.update(['diez', 'veinte', 'treinta']) #AGREGAMOS VALORES AL CONJUNTO -  UPDATE
print(conjunto2)

{'diez', 'treinta', 'cuatro', 'veinte', 'uno', 'dos', 'tres'}

ELIMINAR ELEMENTOS

In [121]:
#DISCARD
a_set = {1,3,6,10,15,21,28,36,45}
print(a_set)

{1, 3, 36, 6, 10, 45, 15, 21, 28}

In [122]:
a_set.discard(10)
print(a_set)

{1, 3, 36, 6, 45, 15, 21, 28}

In [128]:
#POP
#Para eliminar todos los elementos del conjunto usamos  .clear():
a_set = {1,3,6,10,15,21,28,36,45}
print(a_set)
elemento=a_set.pop()
print(elemento)
print(a_set)

{1, 3, 36, 6, 10, 45, 15, 21, 28}
1
{3, 36, 6, 10, 45, 15, 21, 28}

In [129]:
aleatorio = set(range(0,200))

In [130]:
print(aleatorio)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199}

In [131]:
aleatorio.pop()

0

In [132]:
aleatorio.pop()

1

In [133]:
aleatorio

{2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199}

In [136]:
#CLEAR
a_set = {1,3,6,10,15,21,28,36,45}
print(a_set)
a_set.clear()

{1, 3, 36, 6, 10, 45, 15, 21, 28}

In [137]:
print(a_set)

set()

#BUSCAR ELEMENTOS: con el metodo IN
a_set = {1,3,6,10,15,21,28,36,45}
print(1  in a_set)
print (7 in a_set)
if 28 in a_set : 
	print(“28 está en el conjunto”)
else:
print(“28 NO está en el conjunto”)

# DICCIONARIOS
se usa cuando no existe un orden los valores y no se modificaran

Los diccionarios (dict) son conjuntos de pares de valores indexados por una clave.
Las claves pueden ser cualquier tipo inmutable (cadenas, números, tuplas)

In [ ]:
# las claves no se pueden repetir y no se puede modificar
# claves puede ser cuzlquier tipo inmutable,
#clave puede ser tupla si, lista no, enetero si, cadena si, conjunto no

# los valores si se pueden repetir
clientes = ["mario", "pedro", "juan", "anita"]
consumo = {20, 30, 40, 50}
consumo_clientes = {"mario" : 20, "pedro": 20,  "juan" : 40, "anita":50}

Las operaciones que se pueden realizar sobre un diccionario son:Definición y creación
Consulta y modificación, Borrado y Otras métodos

Definición y creación: Se definen encerrados entre {}: {clave1:valor1, clave2:valor2, ... , claven:valorn}

Cada par de valores se separa mediante , e incluye una clave única y el valor a almacenar separados por: 
d = {"server":"mpilgrim", "database":"master"}
print(d)
tel = {'jack': 4098, 'sape': 4139}
print(tel)